link(rel="stylesheet" href="/stylesheets/error.style.css")
title
	| 404 Page not found | B&C Explorer
h3
	| Error 404: Page not found
h5
	| Uh-oh either you clicked on a bad link or you mispelled something
h5
	| head on back to 
	a(href="YOUR_DOMAIN")
		| YOUR_DOMAIN